2020/apunte/src/*.aux
2020/apunte/src/*.idx
2020/apunte/src/*.out
2020/apunte/src/*.log
2020/apunte/src/*.synctex.gz
2020/apunte/src/*.toc
2020/apunte/src/*.ilg
2020/apunte/src/*.ind
2020/practicos/*.aux
2020/practicos/*.idx
2020/practicos/*.out
2020/practicos/*.log
2020/practicos/*.synctex.gz
2020/practicos/*.toc
2020/practicos/*.ilg
2020/practicos/*.ind
2019/apunte/src/*.aux
2019/apunte/src/*.idx
2019/apunte/src/*.out
2019/apunte/src/*.log
2019/apunte/src/*.synctex.gz
2019/apunte/src/*.toc
2019/apunte/src/*.ilg
2019/apunte/src/*.ind
2019/practicos/*.aux
2019/practicos/*.idx
2019/practicos/*.out
2019/practicos/*.log
2019/practicos/*.synctex.gz
2019/practicos/*.toc
2019/practicos/*.ilg
2019/practicos/*.ind

