2020/apunte/src/main.aux
2020/apunte/src/main.idx
2020/apunte/src/main.out
2020/apunte/src/main.log
2020/apunte/src/main.synctex.gz
2020/apunte/src/main.toc
2020/apunte/src/main.pdf
2020/apunte/src/main.ilg
2020/apunte/src/main.ind
2020/practicos/*.aux
2020/practicos/*.idx
2020/practicos/*.out
2020/practicos/*.log
2020/practicos/*.synctex.gz
2020/practicos/*.toc
2020/practicos/*.pdf
2020/practicos/*.ilg
2020/practicos/*.ind
